#add-pet-form-container {
  padding: 1rem 20% 1rem 20%;
  min-width: fit-content;
}

#add-pet-form {
  border-radius: 5px;
  background-color: #769bb8;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: fit-content;
}

.pet-form-modal {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
