.card {
  /* border: 1px solid black; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  transition: 0.2s ease-in;
  filter: grayscale(50%);
  width: 12rem;
}

.card:hover {
  filter: none;
}

.see-more-link {
  text-decoration: none;
  color: blue;
}

.pet-info {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 3px;
}

.save-button {
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s ease-out;
}

.saved {
  font-size: 1rem;
  cursor: pointer;
  color: rgb(255, 5, 92);
  width: fit-content;
  animation: savePet 0.2s ease-in-out 1;
  filter: none !important;
}

.pets-option {
  border-radius: 7px;
  padding: 5px;
  box-shadow: 0 0 5px;
  pointer-events: all;
  cursor: pointer;
  background-color: aliceblue;
}

.active-list {
  background-color: rgb(147, 157, 164);
  pointer-events: none;
  box-shadow: 0 0 2px;
}

@keyframes savePet {
  25% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }
}
