.card {
  /* border: 1px solid black; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  transition: 0.2s ease-in;
  filter: grayscale(60%);
  width: 12rem;
}

.card:hover {
  filter: none;
}

.see-more-link {
  text-decoration: none;
  color: blue;
}

.pet-info {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 3px;
}
