.user-list-item {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
  gap: 0.7rem;
  background-color: aliceblue;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.active-user-button {
  pointer-events: none;
  background-color: rgba(164, 169, 174, 0.592);
  color: rgba(129, 131, 133, 0.805);
}
