#header {
  font-size: 4rem;
  text-align: center;
}

#signup-button {
  font-size: 2rem;
  width: 5em;
}

#background-image {
  background-image: url("../../resources/andrew-s-ouo1hbizWwo-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30rem;
}
#image-area {
  background-color: rgba(0, 0, 0, 0.551);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 5rem;
  height: 100%;
  gap: 2rem;
  border-bottom: 2rem solid #0098b6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.594);
  padding: 1rem;
}

#search-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  background-color: #0291d8;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(94, 94, 94);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.514);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
}
#search-page-button:hover {
  background-color: #0af;
  color: aliceblue;
  box-shadow: 0 0 15px black;
}

#about-paragraph {
  background-color: rgba(240, 248, 255);
  font-size: 1.5rem;
  padding: 1rem 5rem;
  margin: 2rem 0 0 0;
  box-shadow: 0 0 3px gray;
}

.login-signup-form-container {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  border-radius: 5px;
  padding: 2rem 5rem;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: aliceblue;

  border-radius: inherit;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.form-header {
  font-size: 2rem;
  align-self: flex-start;
}
